
.st-container {
  width: 100%;
  display: flex;
  left: 50%;
  top: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 30px;
  z-index: 900;
}

.st-container__receive-button.is-selected {
  z-index: 900;
}

.st-container__receive-button {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.st-container__receivemenu-toggle {
  width: 70px;
  height: 30px;
  margin: 0 0 0 20px;
  cursor: pointer;
  z-index: 900;
  display: flex;
  font-size: 16px;
  border: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  visibility: visible !important;
}

.st-container__receivemenu-toggle div {
  width: 35px;
  height: 1px;
  background: #eee;
  margin:  0;
  border: 0;
  /* transition: all 0.1s; */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

}


.st-container__receivemain-menu {
  width: 0;
  position: fixed;
  z-index: 1;
  top: 2%;
  bottom: 2%;
  right: -10px;
  background: rgba(0, 0, 0, 1);
  overflow-x: hidden;
  transition: all ease 0.1s;
  color: white;
  border-radius: 30px 30px 30px 30px;
  border: 2px solid #eee;
  border-right: 2px solid #eee;
  visibility: visible;
}

.st-container__receivemain-menu.show {
  width: 94%;
  right: 3%; 
 
}

.st-container__receivemain-menu > ul {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  list-style: none;
  flex-direction: column;
  text-align: center;
  white-space: nowrap;
  
}

.st-container__receivemain-menu > ul > li {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
}

.st-container__receivemain-menu > ul > li:last-child {
  border: 0;
}


/*
.st-container__standby-button span {
  width: 35px;
  height: 35px;
  border: 2px solid #eee;
  display: block;
  border-radius: 10px;
  margin-top: 30%;
  z-index: 900;
  visibility: visible !important;
}

.st-standby {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s 0s, opacity 1s linear;
}

.st-standby.fade {
  visibility: hidden;
  opacity: 0.35;
  transition: visibility 0s 1s, opacity 1s linear;
}

.st-standby.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s 0s, opacity 1s linear;
}
* */

.st-container__menu-toggle {
  width: 70px;
  height: 30px;
  margin: 0 0 0 20px;
  cursor: pointer;
  z-index: 900;
  display: flex;
  font-size: 16px;
  border: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  visibility: visible !important;
}

.st-container__menu-toggle div {
  width: 35px;
  height: 1px;
  background: #eee;
  margin:  0;
  border: 0;
  /* transition: all 0.1s; */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

}




.st-container__main-menu {
  width: 0;
  position: fixed;
  z-index: 1;
  top: 2%;
  bottom: 2%;
  right: -10px;
  background: rgba(0, 0, 0, 1);
  overflow-x: hidden;
  transition: all ease 0.1s;
  color: white;
  border-radius: 30px 30px 30px 30px;
  border: 2px solid #eee;
  border-right: 2px solid #eee;
  visibility: visible;
}

.st-container__main-menu.show {
  width: 94%;
  right: 3%; 
 
}

.st-container__main-menu > ul {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  list-style: none;
  flex-direction: column;
  text-align: left;
  white-space: nowrap;
  text-transform: uppercase;
}

.st-container__main-menu > ul > li {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
}

.st-container__main-menu > ul > li:last-child {
  border: 0;
}
